#home {
    position: relative;
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 0.2), rgba(255, 255, 255, 0.2)),
    url(../../assets/alexandru-acea-XEB8y0nRRP4-unsplash.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0; 

        .copyright {
            display: none;
        }
    }
}


.line-1{
 

    border-right: 2px solid rgba(25, 25, 25, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(48) 1s 1 normal both,
             blinkTextCursor 600ms steps(48) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(25, 25, 25, 0.75);}
  to{border-right-color: transparent;}
}

.app__header {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    top: -100px;
    padding: 2.5rem 2rem 0;

    @media screen and (min-width: 2000px) {
        padding-top: 7rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        top:-200px;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}

.header__name {
    color: var(--secondary-color);
}

.title-text {
    position:relative;
    color: rgb(0, 0, 0);
    line-height: 1.5;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
}

.app__header-info {
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 2000px) {
         //width: 100%;
        // margin-right: 0rem; 
    }
}

.app__header-badge {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .badge-cmp, .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white--color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        background: rgb(255, 255, 255);
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;
        padding-top: 3rem;
        padding-bottom: 0;
        

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
        }
    }

    span {
        font-size: 2.5rem;
        width: 100%;

        @media screen and (min-width:2000px){
            font-size: 5rem;
        }
    }

    // @media screen and (max-width: 1200px) {
    //     justify-content: flex-start;
    //     align-items: flex-start;
    // }
}

// .app__header-circles {
//     flex: .75;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: flex-start;
//     // margin-left: 1rem;
//     // height: 100%;

//     div {
//        width: 100px;
//        height: 100px;
//        border-radius: 25%;
//       // background: rgb(235, 235, 235);
//       // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
//         margin-left: 5rem;

//        img {
//            height: 70%;
//            width: 70%;
//        }
//     }

//     // div:nth-child(1) {
//     //     width: 100px;
//     //     height: 100px;
//     // }

//     // div:nth-child(2) {
//     //     margin: .75rem;
//     //     width: 150px;
//     //     height: 150px;
//     // }

//     // div:nth-child(3) {
//     //     width: 100px;
//     //     height: 100px;
//     // }


//     @media screen and (min-width: 2000px) {
//         div {
//             width: 200px;
//             height: 200px;

//         }
//         // div:nth-child(1) {
//         //     width: 400px;
//         //     height: 400px;
//         // }
    
//         // div:nth-child(2) {
//         //     margin: 1.75rem;
//         //     width: 170px;
//         //     height: 170px;
//         // }
    
//         // div:nth-child(3) {
//         //     width: 200px;
//         //     height: 200px;
//         // }
//     }
    
//     @media screen and (max-width:1200px) {
//        width: 100%;
//        flex-direction: row;
//        flex-wrap: wrap;
//        margin-left: 0; 

//        div {
//            margin: 1rem;
//        }    
//     }
// }


.app__header-img {
    flex: 1;
    height: 100%;
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 90%;
    }
    @media screen and (max-width:1200px) {
        margin: 2rem 0;
    }
}

